[Unit]
Description=Web Server
After=multi-user.target

[Service]
ExecStart=/usr/bin/node /home/ubuntu/webapp/app.js
Restart=always
RestartSec=10
SyslogIdentifier=my-node-server
User=ubuntu
EnvironmentFile=/home/ubuntu/webapp/webapp/app.env

[Install]
WantedBy=multi-user.target